 :root{
    --Cor-primaria: rgb(189, 63, 63);
    --Cor-secundaria: rgb(198, 83, 83);
    --Cor-fundo: #FFFFFF;
    --Cor-texto: rgb(245, 120, 120);
    --Cor-contraste:#fec6c6;
    --Cor-botao:#fce5e5;
 }

 .tema-esscuro {
    --Cor-primaria: rgb(226, 178, 178);
    --Cor-secundaria: rgb(197, 134, 134);
    --Cor-fundo: #000000;
    --Cor-texto: rgb(238, 176, 176);
    --Cor-contraste:#aa4b4b;
    --Cor-botao:#ae3c3c;

 }
 body {
    max-width: 100vw;
 }
 header {
                background-color: var(--Cor-primaria);
                color: var(--Cor-fundo)
                text-align: center;
                margin: 0 auto;
                padding: 16px;
                border: 5px solid rgb(245, 120, 120);
            }
            main {
                padding: 16px;
                color: var(--Cor-primaria)
                margin: 0 auto;
                display: flex; 
                flex-wrap: wrap;
            }
           
            article {
                display: flex;
                border: 1px solid var(--Cor-contraste)
                margin: 16px;
                gap: 16px;
                padding: 16px; 
                flex: 1 1 30%; 

                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            main img {
                width: 700px;
                height: 120px;
                display: block; 
                margin: 0 auto 16px auto;
                object-fit: cover; 
            }
            .artigo-autor{
                font-weight: bold;
            }
            button {
                cursor: pointer;
                padding: 8px 14px;
                font-size: 16px;
                background-color: var(--Cor-fundo)
                color: var(--Cor-contraste)
                font-weight: bold;
                transition: transform 0.1s ease;
            }

            button:active {
                transform: scale(0.95);
            }